[submodule "packages/MuonCVXDDigitiser"]
	path = packages/MuonCVXDDigitiser
	url = https://github.com/MuonColliderSoft/MuonCVXDDigitiser.git
[submodule "packages/LCTuple"]
	path = packages/LCTuple
	url = git@github.com:MuonColliderSoft/LCTuple.git
