[submodule "packages/ACTSTuple"]
	path = packages/ACTSTuple
	url = https://gitlab.cern.ch/berkeleylab/MuonCollider/ACTSTuple.git
[submodule "packages/ACTSMCC"]
	path = packages/ACTSMCC
	url = https://gitlab.cern.ch/berkeleylab/MuonCollider/ACTSMCC.git
[submodule "exts/lcgeo"]
	path = exts/lcgeo
	url = https://gitlab.cern.ch/berkeleylab/MuonCollider/lcgeo.git
